<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Convert Your Currency Below !</title>
        <link rel="stylesheet"  href="{{url_for('static', filename='css/style.css')}}">
        <link rel="stylesheet"  href="{{url_for('static', filename='css/nav.css')}}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">
       
    </head>

    <body>

        <div class="topnav" id="myTopnav">
            <a href="#home" class="active">Home</a>
            <div class="dropdown">
              <button class="dropbtn">Finance news
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </div> 
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
          </div>

       <div class="main-container">

          <div class="introduction">

          <h3>
            <strong class="heading">Real-Time Financial Tools </strong>

            <br> 
            <br>

           Get Instant feedbacks, News and Latest Software To Help <br>
            Improve Your Money!

            </h3>

         </div>
          

          {% block content %}
          
         




          {% endblock content %}
          <!-- </div> -->

        </div>


        <div class="finance">

        {% for key,value in finance.items()%}

          <div class="news">
            <div class="news-title"><h4>{{value['title']}}</h4></div>
            <div class="news-des"><p>{{value['description']}}</p></div>
            <p>Source:{{value['source']}}</p>
            <button><a class="link" href="{{value['url']}}">Read More</a></button>
          </div>
<!-- #keys, title,url,description,source,'published_at -->
        {% endfor %}

        </div>


        <script>

            function myFunction() {
              var x = document.getElementById("myTopnav");
              if (x.className === "topnav") {
                x.className += " responsive";
              } else {
                x.className = "topnav";
              }
            }
        </script>
    </body>

</html>

